*{
    margin: 0;
}
.btn{
    /* width: 100%; */
    margin: 50% auto;
    justify-content: center;
    display: flex;
}

.btn button{
    padding: 9px;
    border: 2px solid green;
    border-radius: 40px;
    background-color: transparent;
    text-shadow: 50px;
    font-size: 15px;
    font-weight: 550;
    transition: transform .5s;
}

.btn button:hover{
    transform: translateY(-6px);
}

@keyframes slideLeft {
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0px);
    }
}

.animate{
    animation-name: slideLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    transform: translateX(-150px);
}

/* I have to continue from 8:30 on the video in my phone */









